{% extends 'base.html.twig' %}
{% block title %} Uninstalls {% endblock %}
{% block style %}
    {{ parent() }}
    <link href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/plugins/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet">
    <link href="{{ asset('css/plugins/select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Uninstalls </h5>

                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <form action="{{ path('uninstalls_all') }}" id="dataFilter" method="get" enctype="multipart/form-data">
                                <div class="col-lg-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Period
                                        </div>
                                        <div class="panel-body">
                                            {% include 'MarketingBundle:Filters:date_filter.html.twig' %}

                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <label for="type-of-user">Segment</label>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-3">
                                                <label for="os-version">MacOS</label>
                                                <select name="os-version[]" id="os-version" multiple class="select2-container--default" style="width: 100%">
                                                    {% for version in osVersions %}
                                                        <option value="{{ version.osVersion }}" {% if (query['os-version'] is defined) and (version.osVersion in query['os-version']) %} selected {% endif %}>{{ version.osVersion }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="languages">Languages</label>
                                                <select name="languages[]" multiple class="select2-container--default" id="languages" style="width: 100%">
                                                    {% for language in languages %}
                                                        <option value="{{ language.slug }}" {% if (query['languages'] is defined) and (language.slug in query['languages']) %} selected {% endif %}>{{ language.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="countries">Countries</label>
                                                <select name="countries[]"  id="countries" multiple class="select2-container--default" style="width: 100%">

                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="model-name">Mac type</label>
                                                <select name="model-name[]"  id="model-name" multiple class="select2-container--default" style="width: 100%">
                                                    {% for model in modelName %}
                                                        <option value="{{ model.modelName }}" {% if (query['model-name'] is defined) and (model.modelName in query['model-name']) %} selected {% endif %}>{{ model.modelName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12">
                                <a class="btn btn-default" id="uninstalls-report" href="">Download report</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped dataTable">
                                    <thead>
                                        <tr>
                                            <th>Activation key</th>
                                            <th>License</th>
                                            <th>Message</th>
                                            <th>Build</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for uninstall in uninstalls %}
                                        <tr>
                                            <td><a href="{{ path('user', {'id': uninstall.user_id}) }}">{{ uninstall.activation_key }}</a></td>
                                            <td>{{ uninstall.license_type_name }}</td>
                                            <td>-</td>
                                            <td>{{ uninstall.application_build_version }}</td>
                                            <td>{{ uninstall.last_date | date("F jS \\a\\t g:ia") }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/momentjs/moment.min.js') }}"></script>
    <script src="{{ asset('js/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
    <script>
        $(document).ready(function(){

            $('.dataTable').DataTable();
            $('#uninstalls-report').attr('href', '{{ path('uninstalls_report') }}' + window.location.search)


        });

        $(function() {
            $('.select2-container--default').select2();

            var start = moment('{{ query['date-from'] | date('Ymd') }}');
            var end = moment('{{ query['date-to']| date('Ymd') }}');


            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                "opens": "right",
                maxDate: end,
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                var dateFrom = picker.startDate.format('YYYY-MM-DD');
                var dateTo = picker.endDate.format('YYYY-MM-DD');
                setDateAndSubmit(dateFrom, dateTo);

            });

            $('.select2-container--default').on('change', function () {
                var dateFrom = start.format('YYYY-MM-DD');
                var dateTo = end.format('YYYY-MM-DD');
                setDateAndSubmit(dateFrom, dateTo);
            })

        });
        function setDateAndSubmit(dateFrom, dateTo) {
            var inputFrom = $("<input>")
                .attr("type", "hidden")
                .attr("name", "date-from").val(dateFrom);
            var inputTo = $("<input>")
                .attr("type", "hidden")
                .attr("name", "date-to").val(dateTo);
            $('#dataFilter').append($(inputFrom));
            $('#dataFilter').append($(inputTo));
            $('#dataFilter').submit();
        }

    </script>

{% endblock %}