{% extends 'AuthBundle::base.html.twig'  %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="col-md-6">
    <h2 class="font-bold">Welcome to Control Panel</h2>

    <p>
        Happy Control Panel with best results
    </p>

</div>
<div class="col-md-6">
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="ibox-content">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form._username, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(form._password, { 'attr': {'class': 'form-control'}}) }}
        </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

        {{ form_end(form) }}

        <a href="#">
            <small>Forgot password?</small>
        </a>
        <a class="btn btn-sm btn-white btn-block" href="{{ path('register') }}">Create an account</a>


    </div>

</div>
{% endblock %}
