{% extends 'base.html.twig' %}
{% block title %} User {% endblock %}
{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            {#{{ dump(user) }}#}
            {#{{ dump(userDevices) }}#}
            {#{{ dump(billingData) }}#}
            {#{{ dump(userDevices.deviceLanguage) }}#}
            <div class="col-sm-4">
                <div class="ibox ">
                    <div class="ibox-title"> <a href="{{ path('users_list') }}">Back to Users list</a></div>
                    <div class="ibox-content">
                        <div class="tab-content">
                            <div id="contact" class="tab-pane active">
                                <div class="row m-b-lg">
                                    <div class="col-lg-8 text-center">
                                        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-primary btn-sm btn-block">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            Edit
                                        </button>
                                    </div>
                                </div>
                                <div class="client-detail">
                                    <div class="full-height-scroll">

                                        <strong>Info</strong>

                                        <ul class="list-group clear-list">
                                            <li class="list-group-item fist-item">
                                                <span class="pull-right"> {{ user.email }} </span>
                                                Email
                                            </li>
                                            <li class="list-group-item">
                                                <span class="pull-right"> {{ user.created.date|date("\\a\\t g:ia F jS ") }} </span>
                                                Created
                                            </li>
                                            <li class="list-group-item">
                                                <span class="pull-right"> Yes</span>
                                                Active
                                            </li>
                                        </ul>

                                        <hr/>
                                        <div class="col-lg-offset-8 col-lg-4">
                                            <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#myModal4"> Delete User</button>
                                        </div>
                                        <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog"  aria-hidden="true">

                                            <div class="modal-dialog">
                                                <div class="modal-content animated fadeIn">
                                                    <div class="modal-body">

                                                        <p><strong class="text-danger">Are you sure?</strong></p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-white btn-sm" data-dismiss="modal">Cancel</button>
                                                        <a href="{{ path('user_delete', {'id':  user.id}) }}" type="button" class="btn btn-danger btn-sm">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="clients-list">
                            <ul class="nav nav-tabs">

                                <li class="active">
                                    <a data-toggle="tab" href="#tab-1">
                                        <i class="fa fa-user"></i> User info
                                    </a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#tab-2">
                                        <i class="fa fa-credit-card" aria-hidden="true"></i> Payment info
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Activation code</th>
                                                    <th>Serial number</th>
                                                    <th>Mac type</th>
                                                    <th>MacOS</th>
                                                    <th>Languages</th>
                                                    <th>Country</th>
                                                    <th>Created on</th>
                                                    <th>Test/real user</th>
                                                    <th>Current build version</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for userDevice in userDevices %}
                                                    <tr>
                                                        <td>{{ userDevice.activationKey | default("-") }}</td>
                                                        <td>{{ userDevice.serialNumber  | default("-") }}</td>
                                                        <td>{{ userDevice.modelName  | default("-")}} {{ userDevice.modelNumber | default("-")}}</td>
                                                        <td>{{ userDevice.osVersion  | default("-")}} {{ userDevice.osBuild  | default("-")}}</td>
                                                        {#{{ dump(userDevice.deviceLanguage) }}#}
                                                        {#<td>#}
                                                            {#{% for language in userDevice.deviceLanguage %}#}
                                                            {#// You can get your comment entity here#}
                                                            {#// for example#}
                                                            {#<p>{{language.name}}</p>#}
                                                            {#{% endfor %}#}
                                                        {#</td>#}
                                                        {#<td>{{ userDevice.deviceLanguage.language.name }}</td>#}
                                                        <td> </td>
                                                        <td> </td>
                                                        <td>{{ userDevice.created.date|date("F jS \\a\\t g:ia")  | default("-") }}</td>
                                                        <td>{% if userDevice.isTest %} test {% else %}real{% endif%}</td>
                                                        <td>{{ userDevice.applicationBuildVersion  | default("-") }}</td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>License</th>
                                                    <th>Billing status</th>
                                                    <th>Order ID</th>
                                                    <th>Next charge date</th>
                                                    <th>Total amount paid</th>
                                                    <th>Payment type, card </th>
                                                    <th>Coupon code</th>
                                                    <th>Billing details</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for data in billingData %}
                                                    <tr>
                                                        <td>{{ data.product.licenseType.name | default("-") }}</td>
                                                        <td>{{ data.userDevice.subscriptionStatus.licenseStatus.name | default("-") }}</td>
                                                        <td>{{ data.orderId | default("-") }}</td>
                                                        <td>{{ data.userDevice.subscriptionStatus.nextChargeDate.date | default("-") }}</td>
                                                        <td>{{ data.paymentData['ORDER_TOTAL_AMOUNT'] | default("-") }}</td>
                                                        <td>{{ data.eventType | default("-") }}, *{{ data.paymentData['CREDITCARD_LAST4'] | default("-") }} </td>
                                                        <td>{{ data.promoCode | default("-") }}</td>
                                                        <td>
                                                            <button class="btn btn-w-m btn-info" data-toggle="modal" data-target="#billing">Show</button>
                                                            <div class="modal inmodal" id="billing" tabindex="-1" role="dialog"  aria-hidden="true">

                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content animated fadeIn">
                                                                        <div class="modal-body">
                                                                            <div class="col-md-12">
                                                                                <div class="tabs-container">
                                                                                    <ul class="nav nav-tabs">
                                                                                        <li class="active"><a data-toggle="tab" href="#billing-tab-1">json</a></li>
                                                                                        <li class=""><a data-toggle="tab" href="#billing-tab-2">parsed json</a></li>
                                                                                    </ul>
                                                                                    <div class="tab-content">
                                                                                        <div id="billing-tab-1" class="tab-pane active">
                                                                                            <div class="panel-body">
                                                                                                <div class="well" style="word-wrap: break-word">
                                                                                                    {{ data.paymentData | json_encode }}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div id="billing-tab-2" class="tab-pane">
                                                                                            <div class="panel-body">
                                                                                                <div class="well" style="word-wrap: break-word">
                                                                                                    <div class="chat-activity-list">
                                                                                                         {% for key, value  in  data.paymentData  %}
                                                                                                        <div class="chat-element">
                                                                                                            <div class="media-body ">
                                                                                                                <strong>{{ key }}</strong>
                                                                                                                <p class="m-b-xs">
                                                                                                                    {{ value }}
                                                                                                                </p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                         {% endfor %}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>


                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-white btn-sm" data-dismiss="modal">Close</button>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}


{% endblock %}
