{% extends 'base.html.twig' %}
{% block title %} Users {% endblock %}
{% block style %}
    {{ parent() }}
    <link href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/plugins/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet">
    <link href="{{ asset('css/plugins/select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        {{ dump(query) }}
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Users</h5>

                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <form action="{{ path('users_list') }}" id="dataFilter" method="get" enctype="multipart/form-data">
                                <div class="col-lg-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Period
                                        </div>
                                        <div class="panel-body">
                                            {% include 'UserBundle:Filters:date_filter.html.twig' %}
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <label for="type-of-user">Segment</label>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-3">
                                                <label for="license-type">License Type</label>
                                                <select name="license-type[]" multiple class="select2-container--default" id="license-type" style="width: 100%">
                                                        {% for license in licenses %}
                                                            <option value="{{ license.slug }}" {%  if (query['license-type'] is defined) and (license.slug in query['license-type']) %} selected {% endif %}>{{ license.name }}</option>
                                                        {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="billing-status">Billing Status</label>
                                                <select name="billing-status[]" id="billing-status" multiple class="select2-container--default" style="width: 100%">
                                                        {% for status in billingStatus %}
                                                            <option value="{{ status.slug }}" {% if (query['billing-status'] is defined) and (status.slug in query['billing-status']) %} selected {% endif %}>{{ status.name }}</option>
                                                        {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="app-version">MFP version</label>
                                                <select name="app-version[]" id="app-version" multiple class="select2-container--default" style="width: 100%">
                                                        {% for version in appVersions %}
                                                            <option value="{{ version.applicationBuildVersion }}" {% if (query['app-version'] is defined) and (version.applicationBuildVersion in query['app-version']) %} selected {% endif %}>{{ version.applicationBuildVersion }}</option>
                                                        {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="os-version">MacOS</label>
                                                <select name="os-version[]" id="os-version" multiple class="select2-container--default" style="width: 100%">
                                                        {% for version in osVersions %}
                                                            <option value="{{ version.osVersion }}" {% if (query['os-version'] is defined) and (version.osVersion in query['os-version']) %} selected {% endif %}>{{ version.osVersion }}</option>
                                                        {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="languages">Languages</label>
                                                <select name="languages[]" multiple class="select2-container--default" id="languages" style="width: 100%">
                                                    {% for language in languages %}
                                                        <option value="{{ language.slug }}" {% if (query['languages'] is defined) and (language.slug in query['languages']) %} selected {% endif %}>{{ language.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="countries">Countries</label>
                                                <select name="countries[]"  id="countries" multiple class="select2-container--default" style="width: 100%">
                                                    {% for language in languages %}
                                                        <option value="{{ language.slug }}" {% if (query['languages'] is defined) and (language.slug in query['languages']) %} selected {% endif %}>{{ language.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="model-name">Mac type</label>
                                                <select name="model-name[]"  id="model-name" multiple class="select2-container--default" style="width: 100%">
                                                    {% for model in modelName %}
                                                        <option value="{{ model.modelName }}" {% if (query['model-name'] is defined) and (model.modelName in query['model-name']) %} selected {% endif %}>{{ model.modelName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="col-md-12">
                                <a class="btn btn-default" id="user-report" href="/user_report">Download report</a>
                            </div>
                        </div>
                        <table class="table table-stripped toggle-arrow-tiny dataUsersTable" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Activation key</th>
                                    <th>License</th>
                                    <th>Billing status</th>
                                    <th>Created</th>
                                    <th>Last billed</th>
                                    <th>Order ID</th>
                                    <th>Coupon code</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{ dump(usersDevices) }}
                            {% for userDevice in usersDevices %}
                                <tr>
                                    <td><a href="{% if userDevice.userId.id is defined %}{{ path('user', {'id': userDevice.userId.id}) }}{% endif %}">{% if userDevice.userId.id is defined %}{{ userDevice.userId.firstName }} {{ userDevice.userId.lastName }}{% else %}-{% endif %}</a></td>
                                    <td><a href="{% if userDevice.userId.id is defined %}{{ path('user', {'id': userDevice.userId.id}) }}{% endif %}">{% if userDevice.userId.id is defined %}{{ userDevice.userId.email }}{% else %}-{% endif %}</a></td>
                                    <td><a href="{% if userDevice.userId.id is defined %}{{ path('user', {'id': userDevice.userId.id}) }}{% endif %}">{% if userDevice.activationKey is defined %}{{ userDevice.activationKey }}{% else %}-{% endif %}</a></td>
                                    <td><a href="{% if userDevice.userId.id is defined %}{{ path('user', {'id': userDevice.userId.id}) }}{% endif %}">{% if userDevice.subscriptionStatus.product.name is defined %}{{ userDevice.subscriptionStatus.product.name }}{% else %}-{% endif %}</a></td>
                                    <td><a href="{% if userDevice.userId.id is defined %}{{ path('user', {'id': userDevice.userId.id}) }}{% endif %}">{% if userDevice.subscriptionStatus.licenseStatus.name is defined %}{{ userDevice.subscriptionStatus.licenseStatus.name }}{% else %}-{% endif %}</a></td>
                                    <td><a href="{% if userDevice.userId.id is defined %}{{ path('user', {'id': userDevice.userId.id}) }}{% endif %}">{% if userDevice.created is defined %}{{ userDevice.created.date|date("F jS \\a\\t g:ia") }}{% else %}-{% endif %}</a></td>
                                    <td><a href="{% if userDevice.userId.id is defined %}{{ path('user', {'id': userDevice.userId.id}) }}{% endif %}">date</a></td>
                                    <td><a href="{% if userDevice.userId.id is defined %}{{ path('user', {'id': userDevice.userId.id}) }}{% endif %}">{% if userDevice.subscriptionStatus.product.id is defined %}{{ userDevice.subscriptionStatus.product.id }}{% else %}-{% endif %}</a></td>
                                    <td><a href="{% if userDevice.userId.id is defined %}{{ path('user', {'id': userDevice.userId.id}) }}{% endif %}"{% if userDevice.subscriptionStatus.licenseStatus.id is defined %}>{{ userDevice.subscriptionStatus.licenseStatus.id }}{% else %}-{% endif %}</a></td>
                                    <td><a href="{% if userDevice.userId.id is defined %}{{ path('user', {'id': userDevice.userId.id}) }}{% endif %}">{% if userDevice.subscriptionStatus.licenseStatus.id is defined %}{{ userDevice.subscriptionStatus.licenseStatus.id }}{% else %}-{% endif %}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/momentjs/moment.min.js') }}"></script>
    <script src="{{ asset('js/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    {#<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>#}

    <script>

        $(function() {
            $('.select2-container--default').select2();

            var start = moment('{{ dateFrom | date('Ymd') }}');
            var end = moment('{{ dateTo| date('Ymd') }}');

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                var dateFrom = picker.startDate.format('YYYY-MM-DD');
                var dateTo = picker.endDate.format('YYYY-MM-DD');
                setDateAndSubmit(dateFrom, dateTo);

            });

            $('.select2-container--default').on('change', function () {
                var dateFrom = start.format('YYYY-MM-DD');
                var dateTo = end.format('YYYY-MM-DD');
                setDateAndSubmit(dateFrom, dateTo);
            })

        });
        function setDateAndSubmit(dateFrom, dateTo) {
            var inputFrom = $("<input>")
                .attr("type", "hidden")
                .attr("name", "date-from").val(dateFrom);
            var inputTo = $("<input>")
                .attr("type", "hidden")
                .attr("name", "date-to").val(dateTo);
            $('#dataFilter').append($(inputFrom));
            $('#dataFilter').append($(inputTo));
            $('#dataFilter').submit();
        }
        $(document).ready(function(){

            $('.dataUsersTable').DataTable({
                "lengthMenu": [[25, 50, -1], [25, 50, "All"]]
            });

        });


    </script>

{% endblock %}