{% extends 'base.html.twig' %}
{% block title %} Funnel {% endblock %}
{% block style %}
    {{ parent() }}
    <link href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/plugins/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet">
    <link href="{{ asset('css/plugins/select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Funnel </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <form action="{{ path('funnel_all') }}" id="dataFilter" method="get" enctype="multipart/form-data">
                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Period
                                    </div>
                                    <div class="panel-body">
                                        {% include 'MarketingBundle:Filters:date_filter.html.twig' %}
                                        {#<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">#}
                                            {#<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;#}
                                            {#<span></span> <b class="caret"></b>#}
                                        {#</div>#}
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Type of install
                                    </div>
                                    <div class="panel-body">
                                        <select name="type-of-install" class="select2-container--default" id="type-of-install" style="width: 100%">
                                            {% for typeOfInstall in typesOfInstall %}
                                                <option value="{{ typeOfInstall.name }}" {%  if (quered['type-of-install'] is defined) and (typeOfInstall.name in quered['type-of-install']) %} selected {% endif %}> {{ typeOfInstall.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                       Segment
                                    </div>
                                    <div class="panel-body">
                                        //todo
                                    </div>

                                </div>
                            </div>
                            </form>
                            <div class="col-md-12">
                                <a class="btn btn-default" href="{{ path('funnel_report') }}">Download report</a>
                            </div>
                        </div>


                        <table class="table table-bordered table-hover dataTables" style="font-size: 12px;">
                            <thead>
                            <tr>
                                <!-- // 16 cols -->
                                <th>Traffic </th>
                                <th>Downloads</th>
                                <th>Installs</th>
                                <th>Subscriptions (1 month)</th>
                                <th>Subscriptions (12 month)</th>
                                <th>Traffic --> Downloads, %</th>
                                <th>Traffic --> Installs, % </th>
                                <th>Traffic --> Subscriptions (1 month), %</th>
                                <th>Traffic --> Subscriptions (12 month), %</th>
                                <th>Install --> Subscription (1 month), %</th>
                                <th>Install --> Subscription (12 month), %</th>
                                <th>1month --> 12 month</th>
                                <th>Revenue</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ gaReport['traffic'] }}</td>
                                <td>{{ gaReport['downloads'] }}</td>
                                <td>{{ gaReport['installs'] }}</td>
                                <td>{{ subscriptionMonths }} </td>
                                <td>{{ subscriptionYear }} </td>
                                <td>{{ trafficToDownloads}}</td>
                                <td>{{ trafficToInstalls }} </td>
                                <td>{{ trafficToMonthSubscription }}</td>
                                <td>{{ trafficToYearSubscription }}</td>
                                <td>{{ installsToMonthSubscription }}</td>
                                <td>{{ installsToYearSubscription }}</td>
                                <td>//TODO</td>
                                <td>//TODO</td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/momentjs/moment.min.js') }}"></script>
    <script src="{{ asset('js/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
    <script>
        $(document).ready(function(){

            $('.dataTables').DataTable();

        });

        $(function() {
            $('.select2-container--default').select2();

            var start = moment('{{ dateFrom | date('Ymd') }}');
            var end = moment('{{ dateTo| date('Ymd') }}');

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                var dateFrom = picker.startDate.format('YYYY-MM-DD');
                var dateTo = picker.endDate.format('YYYY-MM-DD');
                setDateAndSubmit(dateFrom, dateTo);

            });

            $('.select2-container--default').on('change', function () {
                var dateFrom = start.format('YYYY-MM-DD');
                var dateTo = end.format('YYYY-MM-DD');
                setDateAndSubmit(dateFrom, dateTo);
            })

        });
        function setDateAndSubmit(dateFrom, dateTo) {
            var inputFrom = $("<input>")
                .attr("type", "hidden")
                .attr("name", "date_from").val(dateFrom);
            var inputTo = $("<input>")
                .attr("type", "hidden")
                .attr("name", "date_to").val(dateTo);
            $('#dataFilter').append($(inputFrom));
            $('#dataFilter').append($(inputTo));
            $('#dataFilter').submit();
        }

    </script>

{% endblock %}
